.count-container{
    position: absolute;
    padding-left: 500px;
    padding-top: 30px;
    font-size: 30px;
  }

  #countspace{
    margin-right: 150px;
    margin-left: -20px
  }

  #countspace2{
    margin-right: 90px;
    margin-left: -50px;
  }

  #button1{
    font-size: 10px;
    margin-bottom: 5px;      
  }
  
  body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  }