.profile-small{
    width:40px;
    border-radius: 50%;

}

#post_head{
    float: right;
    list-style: none;  
    margin: 10px;      
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

nav{
background-color: #74EBD5;
background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

}

li{
list-style-type: none;
}